__pycache__/
.venv/
*.egg-info/
node_modules/
OLD/
Grok3/
android/
*-session_*/
sessions/
logs/
GEMI_session_viewer/
*.bak*
build/
session_viewer/
streamlit_app/
new-logs/
.dolt
.continue/
.gemini/
.pytest_cache/
